    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: #666 8px 8px 3px;
      -moz-box-shadow: #666 8px 8px 3px;
      box-shadow: #666 8px 8px 3px; 
      z-index: 9;
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }
    .navbar .nav li a {
      _padding: 15px 20px;
    }
    .navbar .nav li.dropdown a {
      _padding: 17px 20px;
    }
    .navbar .nav * li a,
    .navbar .nav * li.dropdown a {
      _padding: 0;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    .marketing .span4 {
      padding-top: 20px;
      text-align: center;
    }

    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      height: 180px;
      font-size: 16px;
      text-align: left;
      margin-left: 10px;
      margin-right: 10px;
    }
    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        _width:40%;
        margin: 0 auto 20px;
      }
    }
    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }
    }

    .spot{
      margin: auto;      
      border: 1px solid #696;
      width: 20px;
      height: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      -webkit-box-shadow: #666 5px 5px 3px;
      -moz-box-shadow: #666 5px 5px 3px;
      box-shadow: #666 5px 5px 3px;
      color: red;
    }
    
    .radius{
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: #666 5px 5px 3px;
      -moz-box-shadow: #666 5px 5px 3px;
      box-shadow: #666 5px 5px 3px;     
    }

@font-face {
	font-family: 'manhuiweidu';
	src: url('../commons/fonts/manhuiweidu.eot?v=0.0.1');
	src: url('../commons/fonts/manhuiweidu.eot?#iefix&v=0.0.1') format('embedded-opentype'),
    url('../commons/fonts/manhuiweidu.woff2?v=0.0.1') format('woff2'),	  
		url('../commons/fonts/manhuiweidu.woff?v=0.0.1') format('woff'),
		url('../commons/fonts/manhuiweidu.svg?v=0.0.1#manhuiweidu') format('svg'),
		url('../commons/fonts/manhuiweidu.ttf?v=0.0.1') format('truetype');
	font-weight: normal;
	font-style: normal;
}

    body{
      font-family: "Noto Sans SC", "\5FAE\8F6F\96C5\9ED1", "Noto Sans", Helvatica, Tahoma, "\5E7C\5706", "\534E\6587\7EC6\9ED1", Arial, "\5B8B\4F53";
      background-color: #7b868f;
      color: #e5eceb;
      height: 100%; 
      width: 100%;
      padding-bottom: 40px;  
    }
    
    .center{
      width: 100%;
      height: 480px;
      background-color: white;
      position: relative;	
      display: table;
    }

    #adv{
        display: table-cell; 
        text-align: center;
    }

    a {
      color: #44bdfa;
  }

  .footer {
    margin-top: 48px;
  }

  .fa{
    color: #000000;
    font-size: 32px;
    margin-right:20px;
  }

  .input-line{
    line-height: 48px;
    height: 48px;
  }

  .fa-refresh{
    cursor: pointer;
  }

  .fa-refresh:hover, .fa-refresh .hover{
    text-decoration: none;
  }

  .msg{
    color: red;
  }

  .fa-check, .fa-times{
    font-size: 20px;
    margin-right: 10px;
  }
  
  .btn{
    *border: #b8b8b8;
    *border-width: 1px;
    line-height: 32px;
    height: 32px;
    _padding-top: 7px;
    _padding-bottom: 0px;
  }

  .btn-primary{
    background-color: #44bdfa;
    background-image: none;
  }

  .btn-primary:hover, .btn-primary.btn-primary-hover{
    background-color: #910c0c;
  }

  form {
    margin: 0 0 0px;
  }

  .modal-body{
    _width: 93%;
  }

  .input-block-level{
    width: 85%;
    position: absolute;
    right: 20px;
  }
  .modal-header {
    padding: 2px 15px;
    background-color: #000000;
  }

  .modal.fade.in {
    _filter:alpha(opacity=100);
    _position: absolute;
  }

  .modal-backdrop {
    _position: absolute;
    _width: 100%;
    _height: 100%;
    _top: expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');  
    _left: expression(0+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px'); 
    _filter: alpha(opacity=80);
}

.mhwd {
	font-family: manhuiweidu;
	font-style: normal;
	font-weight: normal;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	_letter-spacing: expression((navigator.appVersion.toUpperCase().indexOf('98') >  -1) || (navigator.appVersion.toUpperCase().indexOf('ME') >  -1) || (navigator.appVersion.toUpperCase().indexOf('9X') >  -1) ? "0.3em" : "auto");
  }
  
  .mhwd-logo:before {
	content: "\f000";
  }
  
  .mhwd-logo {
	*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf000;');
	_padding-right: expression((navigator.appVersion.toUpperCase().indexOf('98') >  -1) || (navigator.appVersion.toUpperCase().indexOf('ME') >  -1) || (navigator.appVersion.toUpperCase().indexOf('9X') >  -1) ? "0.8em" : "auto");
  }
  
  .mhwd-eight:before {
	content: "\f011\f012\f013";
  }
  
  .mhwd-eight {
	*zoom: expression( this.runtimeStyle['zoom'] = '1',  this.innerHTML = '&#xf011;&#xf012;&#xf013;');  
	_padding-right: expression((navigator.appVersion.toUpperCase().indexOf('98') >  -1) || (navigator.appVersion.toUpperCase().indexOf('ME') >  -1) || (navigator.appVersion.toUpperCase().indexOf('9X') >  -1) ? "0.3em" : "auto");  
  }
  
  .mhwd-eight-thin:before {
	content: "\f001\f002\f003";
  }
  
  .mhwd-eight-thin {
	*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf001;&#xf002;&#xf003;');
	_padding-right: expression((navigator.appVersion.toUpperCase().indexOf('98') >  -1) || (navigator.appVersion.toUpperCase().indexOf('ME') >  -1) || (navigator.appVersion.toUpperCase().indexOf('9X') >  -1) ? "0.3em" : "auto");  
  }
  
  .fa{
    _letter-spacing: expression((navigator.appVersion.toUpperCase().indexOf('98') >  -1) || (navigator.appVersion.toUpperCase().indexOf('ME') >  -1) || (navigator.appVersion.toUpperCase().indexOf('9X') >  -1) ? "0.4em" : "auto"); 
	  _padding-right: expression((navigator.appVersion.toUpperCase().indexOf('98') >  -1) || (navigator.appVersion.toUpperCase().indexOf('ME') >  -1) || (navigator.appVersion.toUpperCase().indexOf('9X') >  -1) ? "0.4em" : "auto");
  }